.banner {
    height: 80vh; /* takes a percentage of the page*/
    background-image: url('../../images/background.png');
    background-size: cover;
    background-position: center;
}

.banner .container {
    padding-top: 100px;
}

.banner p,
.banner h1 {
    color: white;
}

.banner p {
    opacity: 0.7;
    font-size: 20px;
}